div.dropdown {
    padding-left: 15pt;
}
body {
    padding: 15pt;
    background-color: rgb(52, 28, 28);
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 51pt;
}
button.dropdown1 {
    border-radius: 5pt;
    border: 1pt;
    border-color: black;
    padding: 5pt;
    margin: 5pt;
    font-size: large;
}
button.dropdown2 {
    border-radius: 5pt;
    border: 1pt;
    border-color: black;
    padding: 5pt;
    margin: 5pt;
}
a:link {
    color: rgb(68, 68, 255);
}
a:visited {
    color: palevioletred;
}
a:hover {
    color: lightblue;
}
img.pageimage {
    width: 300pt;
    height: 300pt;
    object-fit:cover;
    border: 5pt;
    border-color: white;
    border-style: groove;
    background-color: black;
    
}
img.character {
    width: 150pt;
    height: 150pt;
    object-fit:cover;
    border: 5pt;
    border-color: white;
    border-style: groove;
    background-color: black;
    
}
p.character {
    font-weight: bold;
    font-size: larger;
}
p:funfact {
    font-weight: bold;
    color: yellow;
    outline: 2pt;
    outline-color: aqua;
    outline-style: ridge;
}
audio {
    border-radius: 5pt;
}